@inherits ComponentBase

<h3>Auth Details for Distributor Api</h3>

<MudPaper Class="pa-4">
    @if (loading)
    {
        <MudProgressCircular Color="Color.Primary"
                             Size="Size.Large"
                             Indeterminate="true" />
    }
    else
    {
        <MudForm @ref="@form"
                 @bind-IsValid="@success">
            <MudTextField T="string"
                          Label="Base Address"
                          ReadOnly="true"
                          @bind-Value="@DistributorApiAppConfig.BaseAddress" />
            <MudTextField T="string"
                          Label="OCPM Subscription Key"
                          @bind-Value="@DistributorApiAppConfig.OcpApimSubscriptionKey"
                          Required="true"
                          RequiredError="OCPM subscription key is required!" />
            <MudTextField T="string"
                          Label="Client Id"
                          Required="true"
                          @bind-Value="@DistributorApiAppConfig.DistributorApiClientId"
                          RequiredError="Client id is required!" />
            <MudTextField T="string"
                          Label="Client Secret"
                          @bind-Value="@DistributorApiAppConfig.DistributorApiClientSecret"
                          Required="true"
                          RequiredError="Client secret is required!" />
            <MudDivider Class="my-4" />
            <MudAlert Severity="Severity.Warning">
                To use the MCP flavor of the Fjord Tours Distributor API, you need to provide the base address of Ollama,
                for example http://localhost:11434.
            </MudAlert>
            <MudTextField T="string"
                          Label="Ollama Base Address"
                          @bind-Value="@AppState.OllamaBaseAddress"
                          Required="false" />
            <MudAlert Severity="Severity.Warning">
                Please also provide the name of the model to use, for example llama3.2:latest.
            </MudAlert>
            <MudTextField T="string"
                          Label="Model"
                          @bind-Value="@AppState.Model"
                          Required="false" />
        </MudForm>
    }
</MudPaper>

<MudPaper Class="pa-4 mt-4">
    <MudButton Variant="Variant.Filled" 
               Color="Color.Primary" 
               Disabled="@loading"
               DisableElevation="true" 
               OnClick="@(() => Authenticate())">
        Validate
    </MudButton>

    <MudButton Variant="Variant.Filled"
               Color="Color.Secondary"
               Disabled="@loading"
               DisableElevation="true"
               OnClick="@(() => Clear())">
        Clear
    </MudButton>
</MudPaper>